* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(150deg, #fff 0%, #555 100%);
  min-height: 100vh;            /* 100vh = 100% de la hauteur de l'écran visible */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h1 {
  color: white;
  font-size: 32px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
